Include O365 OpenID/OAuth2 metadata URL in documentation

Summary: This page should include the OAuth2 metadata URL for validating these requests.

While looking how to validate Teams actionable message callbacks, the only documentation that I could find was this page. However, based on the information here, I wasn't able to actually validate the JWT that I received because I couldn't find the public signing key.

> All action requests from Microsoft have a bearer token in the HTTP Authorization header. This token is a JSON Web Token (JWT) token signed by Microsoft, and it includes important claims that we strongly recommend should be verified by the service handling the associated request.

The documentation mentions says that requests will be signed by Microsoft, but it doesn't give any indication of the JWKS URL or OAuth2 metadata URL. The only place where the `substrate.office.com` domain can be found in the Microsoft documentation is in an unmaintained documentation article, but that does not include the metadata URL.

The only place I could find the metadata URL was in some [source code](https://github.com/OfficeDev/outlook-actionable-messages-node-token-validation/blob/master/ActionableMessageTokenValidator.js#L41), showing that the metadata URL includes `/.well-known/openid-configuration`  instead of something OAuth2-specific. I know this is compatible with [RFC8414, Section 5](https://tools.ietf.org/id/draft-ietf-oauth-discovery-08.html#CompatibilityNotes), but that makes it even more important that a specific URL is called out because users can't guess it based on the context.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da46b6c4-8c26-e5a8-fafc-f5fa9549740c
* Version Independent ID: 2ccd32e5-2e1c-470f-8e9f-7e8aa2f64a00
* Content: [Security requirements for actionable messages - Outlook Developer](https://docs.microsoft.com/en-us/outlook/actionable-messages/security-requirements#verifying-that-requests-come-from-microsoft)
* Content Source: [docs/actionable-messages/security-requirements.md](https://github.com/OfficeDev/outlook-dev-docs/blob/master/docs/actionable-messages/security-requirements.md)
* Product: **outlook**
* Technology: **o365-connectors**
* GitHub Login: @jasonjoh
* Microsoft Alias: **jasonjoh**

Thanks for the feedback @iinuwa! I will forward this to the team and update as needed.

- MetadataUrl: `https://substrate.office.com/sts/common/.well-known/openid-configuration`
- TokenIssuer:  `https://substrate.office.com/sts/`
